.single-line-charts-area {
  width: 33.125rem;
  height: 28.75rem;
  background: url(../../assets/images/line-chart-bg.png) no-repeat center;

  background-size: 100% 100%;
  // background:rgba(66,240,157,0.6);
  // box-shadow: 0px 0px 8px 0px rgba(148, 255, 204, 1);
  // border-radius: 12px 12px 0px 0px;
  // border: 1px solid rgba(66, 240, 157, 1);
  position: relative;
  #singleLineCharts {
    bottom: -0.3125rem;
    position: absolute;
    width: 33.125rem;
    height: 25rem;
  }
  .left-title {
    position: absolute;
    top: 0.9375rem;
    left: 0.625rem;
    font-size: 17px;
    font-family: MicrosoftYaHei;
    color: rgba(50, 207, 255, 1);
  }
  .right-title {
    position: absolute;
    top: 0.9375rem;
    right: 0.3125rem;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(50, 207, 255, 1);
  }
}
