.top-title-area {
  display: flex;
  justify-content: space-around;
  height: 76px;
  position: relative;
  .top-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 342px;
    height: 40px;
    background: url("../../../assets/images/top-left.png") no-repeat 100% 100%;
  }
  .top-mid {
    width: 1920px;
    height: 76px;
    background: url("../../../assets/images/top-mid.png") no-repeat;
    background-size: 1920px 76px;
  }
  .top-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 342px;
    height: 40px;
    background: url("../../../assets/images/top-right.png") no-repeat 100% 100%;
  }
}
