.notice-text-area {
  width: 33.125rem;
  height: 28.75rem;
  background: url(../../assets/images/line-chart-bg.png) no-repeat center;
  background-size: 100% 100%;
  // background:rgba(66,240,157,0.6);
  box-shadow: 0px 0px 8px 0px rgba(148, 255, 204, 1);
  border-radius: 12px 12px 0px 0px;
  border: 1px solid rgba(66, 240, 157, 1);
  .notice-text-title {
    height: 3.3125rem;
    line-height: 3.3125rem;
    padding-left: 1rem;
    font-size: 24px;
    color: rgba(50, 207, 255, 1);
  }
  .notice-text-content {
      width: 29.75rem;
      height: 17.8125rem;
      margin: 0 auto;
      padding-top: 2.9375rem;
      .content-title {
          text-align: center;
        color: rgba(66, 240, 157, 1);
        margin-bottom: 1.25rem;
      }

      .content-content {
        color: rgba(50, 207, 255, 1);
      }
  }
}
