.pie-charts-area {
  width: 45.75rem;
  height: 28.75rem;
  background: url(../../assets/images/line-chart-bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  .pie-title {
    position: absolute;
    font-size: 14px;
    right: 112px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: rgba(66, 240, 157, 1);
  }
  .pie-center {
    position: absolute;
    right: 114px;
    top: 180px;
    text-align: center;
    .center-num {
      font-size: 24px;
      font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
      font-weight: bold;
      color: rgba(50, 207, 255, 1);
    }
    .center-text {
      font-size: 14px;
      font-family: MicrosoftYaHei;
      color: rgba(50, 207, 255, 1);
    }
  }
  .pie-area {
    width: 13rem;
    height: 18rem;
    position: relative;
  }

  .pie-charts-title {
    height: 3.3125rem;
    line-height: 3.3125rem;
    padding: .4rem 0 0 1rem;
    
    font-size: 17px;
    color: rgba(50, 207, 255, 1);
  }
  .pie-charts-content {
    padding-left: 1rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2.75rem;
    .num-content {
      // width: 22.5rem;
      padding-left: 2rem;
    }
    .num-title {
      font-size: 14px;
      font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
      font-weight: bold;
      color: rgba(66, 240, 157, 1);
      margin-bottom: 0.5rem;
    }
    .month-num-area {
      .month-num {
        display: flex;
        justify-content: space-between;
        .single-num {
          width: 7.1875rem;
          //   margin-right: 40px;
          .num {
            text-align: center;
            font-size: 24px;
            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
            font-weight: bold;
            color: rgba(50, 207, 255, 1);
          }
          .text {
            text-align: center;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: rgba(50, 207, 255, 1);
          }
        }
      }
    }
    .year-num-area {
      margin-top: 2.5rem;
      margin-top: 2rem;
      .year-num {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        // padding-left: 1.5625rem;
        .single-num {
          width: 7.1875rem;
          text-align: center;
        }
        img {
          width: 2.5rem;
          height: 2.5rem;
        }

        .text {
          margin-top: 0.625rem;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: rgba(50, 207, 255, 1);
        }
      }
    }

    .table-num {
      margin-top: 0.625rem;
      // width: 22.5rem;
      height: 4.5625rem;
      background: url(../../assets/images/table-line.png) no-repeat center;
      background-size: 100% 100%;
      .table-single {
        height: 2.3125rem;
        line-height: 2.3125rem;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: rgba(50, 207, 255, 1);
        .text-single {
          display: inline-block;
          width: 7.1875rem;
          text-align: center;
        }
      }
    }
  }
}
